.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  .tinder__logo {
    a {
      display: block;
      max-width: 60px;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
}
